body
{
	margin: 0;
	padding: 0;
	background: url(6.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.title
{
	text-align: center;
	padding:50px 0 20px ;
	
}
.title h1
{
	margin: 0;
	padding: 0;
	color:#ECF0F1;
	font-size: 30px;
}
.container
{	
	width: 50%;
	height: 350px;
	margin:auto;
	border:2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left
{
	float: left;
	width: 50%;
	height: 350px;
	background:url(7.jpg);
	background-size: cover;
	box-sizing: border-box;


}
.container .right
{
	float:right;
	width:50%;
	height: 350px;
	box-sizing: border-box;
	border:2px solid #262626;


}
.formbox
{
	width: 100%;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 350px;
	background: #fff;
}
.formbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:;
}
.formbox input
{
	width: 100%;
	margin-bottom:20px;
}
.formbox input[type="text"],.formbox input[type="password"]
{
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	height: 30px;

}
.formbox input[type="text"]:focus,.formbox input[type="password"]:focus
{
	border-bottom: 2px solid #AEB6BF;
}
.formbox input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
}
.formbox input[type="submit"]:hover
{
	background: #2E4053;

}
.formbox a
{
	color: #262626;
	font-size: 12px;
	font-weight: bold;
}
